{% extends 'base.html' %} {% block content %}

<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<div class="container">
  <div class="row">
      <div class="col-md-8 mt-3 left">
          <div class="card mb-4">
              <div class="card-body">
                  <h2 class="card-title">{{ post.title }}</h2>
                  <p class="card-text"><b>{{ post.author }}</b> - {{ post.date}} </p>
                  <p class="card-text"><b>{{post.job_type}}</b> - {{post.description| safe }}</p>
                  <p class="card-text"><b>Contact Info:</b> {{ post.contact}} </p>
                  <p class="card-text"><b>Additional Info:</b> {{ post.additional_information}}</p>
              </div>
          </div>
      </div>
      {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
</div>
{% endblock content %}