{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About</h5>
    <div class="card-body">
        <p class="card-text">The purpose of this site is to bring Penn State students together! It allows them to post and find unique oppurtinites. </p>
        <a href="https://github.com/DevPSU/job-board"
           class="btn btn-danger">GitHub</a>
    </div>
</div>
</div>

{% endblock sidebar %}