{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style>
        body {
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            background-color: #fdfdfd;
        }
        
        .head_text {
            color: white;
        }
        
        .card {
            box-shadow: 0 16px 48px #E3E7EB;
        }
</style>
    

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <div class="content-section">
            <h2>Sign up</h2>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Sign up</button>
            </form>
        </div>
      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
</div>

{% endblock content %}