{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style>
        body {
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            background-color: #fdfdfd;
        }
        
        .head_text {
            color: white;
        }
        
        .card {
            box-shadow: 0 16px 48px #E3E7EB;
        }
</style>
    

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Blog Post</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Post</button>
                    <a class="btn btn-outline-secondary" href="{% url 'profile' %}">Cancel</a>
                </div>
            </form>
        </div>
      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
</div>

{% endblock content %}